<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>영화 추가</h1>
	<form method="post" action=" ">
		
		<label for="title">제목:</label>
		<input type="text" name="title" id="title"></br>
		
		<label for="price">가격:</label>
		<input type="text" name="price" id="price"></br>
		
		<label for="synopsis">줄거리:</label>
		<textarea rows="6" cols="50" name="synopsis" id="synopsis"></textarea></br>
		<input type="submit" value="등록"></br>
	
	</form>

</body>
</html>