<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
<script src="http://code.jquery.com/jquery-3.6.3.js"></script>

</head>
<body>
	<!-- <h2> 로그인</h2>
	<form method="post" action="/login">
		<label for="userId">아이디:</label>
		<input type="text" name="userId" id="userId"><br>
		<label for="password">비밀번호:</label>
		<input type="password" name="password" id="password">
		<input type="submit" value="로그인">
	</form> -->
	
	<div class="container">
	<div class="login_box">
		<h1>Login</h1>
		<form method="post" action="/login" id="loginForm">
		<div class="input_box">
			<input type="text" required="" name="userId">
			<label for="">Id</label>
			<ion-icon class="icon " name="mail-outline"></ion-icon>
		</div>
		<div class="input_box">
			<input type="password" required="" name="password">
			<label for="">password</label>
			<ion-icon class="icon" name="lock-closed-outline"></ion-icon>
		</div>
		<br>
		
		<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
        	th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
        	class="text-danger">로그인 에러 메시지</p>
		<br>
		<div class="rem">
			<input id="chack" type="checkbox" name="remember-me">
			<label for="chack">Keep me Signed In</label>
			<a href="#">forget password</a> 
			<!-- -->
		</div>
		<div class="login">
			<!-- <button type="submit">Log in</button> html로 처리-->
			<button type="submit" id="signIn">Log in</button> <!-- jquery로 처리 -->
		</div>
		
		<div class="login">
			<!-- <button type="submit">Log in</button> html로 처리-->
			<button type="submit" id="SingUpTitle">SingUp</button> <!-- jquery로 처리 -->
		</div>
		
		<div>
			<div class="reg">
				<p>don't have a account </p>
				<a href="#">registration</a>
			</div>
		</div>
		</form>
	</div>
 </div>
 

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script>
	$(function(){
		$("#signIn").click(function(){
			$("#loginForm").submit();
		});
		$("#SingUpTitle").click(function(){
			location.href="customers/create"
		});
	});
	</script>
	
</body>
</html>


